:root {
    --darker: #031229;
    --main-bg: #0A1E39;
    --accent-green: #49FFCD;
    --grey: #939EBF;
    --off-white: #ccd6f6;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
}
body {
    margin: 0;
    background-color: var(--main-bg);
    color: var(--off-white);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
}

article {
    margin: 10em 5.5em;
}

section {
    margin: 10em 5.5em;
}

h1 {
    color: var(--off-white);
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    color: var(--off-white);
    font-size: 2rem;
    font-weight: 600;
}
.section-title {
    margin-bottom: 0;
}
h3 {
    color: var(--off-white);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 1rem;
    color: var(--grey);
    font-weight: 400;
}

hr {
    margin-top: 0;
    border-color: var(--accent-green);
}

i {
    padding: 0;
}

header {
    margin: 0 1.5em 5em 1.5em;
}

a:visited {
    color: var(--grey);
}

.accent-text {
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono", monospace;
    /* font-family: 'Courier New', Courier, monospace; */
    color: var(--accent-green);
    font-weight: 300;
}




/* NAVIGATION DESKTOP */
#socials {
    display: inline;
    position: absolute;
    right: 3.5em;
}

#socials i {
    color: var(--off-white);
    font-size: 2rem;
    margin: 0 0.5rem;
}
#socials i:hover {
    color: var(--accent-green);
}

.nav-left {
    display: inline;
}
.nav-left i {
    font-size: 1.5rem;
}
nav {
    width: 100%;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    height: 6em;
    background-color: #0A1E3990;
    position: fixed;
    opacity: 9;
    top: 0;
    left: 0;
    z-index: 3;
    backdrop-filter: blur(0.5rem);
    transition: top 300ms ease-out;
}
nav i {
    color: var(--accent-green);
    display: inline;
}
nav ul {
    margin: 0 2em;
    padding: 5px 0;
    display: inline;
    list-style: none;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

}
nav ul li {
    display: inline;
    margin: 0 1rem 0 1rem;
}
nav a, nav a:visited {
    text-decoration: none;
    color: var(--off-white);
}

nav a:hover {
    color: var(--accent-green);
}

.nav-scrolled {
    box-shadow: 0px 0.2rem 0.2rem var(--darker);
}
.nav-hidden {
    top: -6.5em;
}
.mobile-nav-btn {
    display: none;
}

/* END NAV */


/* Introduction */
.introduction {
    margin: 10em 4em 10em 4em;
}

.introduction h1 {
    margin: 0.5rem 0;
}

.heading {
    margin: 2em 0;
}

.whoiam {
    color: var(--grey);
}

/* CTA */
.cta {
    width: fit-content;
    margin-left: 5.5em;
}
.cta a {
    color: var(--accent-green);
    text-decoration: none;
    border: 0.1rem solid var(--accent-green);
    border-radius: 25px;
    padding: 0.6em 2.5em;
    transition: 0.3s;
}

.cta a:hover {
    box-shadow: 0px 0px 8px var(--accent-green);
}

#resume-cta {
    margin: 0 auto;
}

#technologies h3{
    margin: 1em 0;
}

#about-content-container {
    display: flex;
    flex-direction: row;
    column-gap: 4em;
}
.about-text {
    max-width: 40em;
    margin: 0.5em;
    line-height: 1.8rem;
}
.about-text p {
    font-size: 1.2rem;
}

#technologies i{
    font-size: 5rem;
}
.tech-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 1em;
    text-align: center;
}

.tech-item {
    width: 5em;
}
.special {
    padding-top: 0.4em;
}

/* projects */

.project-container {
    max-width: 100em;
    margin: 10em 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr [col-start]);
    grid-template-rows: repeat(8, auto [row-start]);
}

.project-container .content-container {
    background-color: var(--main-bg);
    border: 0.1rem solid var(--accent-green);
    border-radius: 5px;
    min-width: 20em;
    padding: 1em 1em;
    box-shadow: 5px 5px 5px var(--darker);
    grid-column: 1 / 6;
    grid-row: 3 / 6;
    z-index: 2;
    position: relative;
}

.project-container:nth-child(even) .content-container {
    grid-column: 6/11;
    /* text-align: right; */
}
/* .project-container:nth-child(even) .visit-project-btn {
    bottom: -1.3rem;
    right: 1em;
} */

.project-description {
    color: var(--grey);
    font-size: 1.1rem;
    margin: 1em 0.5em;
}

.project-stack {
    color: var(--accent-green);
    text-align: right;
}
.visit-project-btn {
    background-color: var(--main-bg);
    color: var(--accent-green);
    text-decoration: none;
    border: 0.1rem solid var(--accent-green);
    border-radius: 25px;
    padding: 0.6em 2.5em;
    position: absolute;
    bottom: -1.3em;
    transition: 0.5s;
}
.visit-project-btn:hover {
    background-color: var(--accent-green);
    color: var(--darker);
}
.visit-project-btn::after {
    content: "";
    background-image: url(../img/arrow-right-dark.svg);
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 0.7em;
    width: 1em;
    height: 1em;
    transform: scale(0, 1);
    transition: transform ease-out 300ms;
}
.visit-project-btn:hover::after {
    transform: scale(1,1);
}

.project-container img {
    width: 100%;

}

.project-container .img-container {
    grid-column: 4 / 11;
    grid-row: 2 / 7;
    z-index: 1;
}


.project-container:nth-child(even) .img-container {
    grid-column: 1 / 8;
}

#contact form {
    max-width: 35em;
    margin: 2.5rem auto;
}
.contact-input {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.3rem;
    border: 0.1rem solid var(--accent-green);
    background-color: var(--darker);
    color: var(--off-white);
    border-radius: 5px;
    font-family:  Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact-input:focus {
    outline-color: var(--accent-green);
}
#contact label {
    margin-top: 1rem;
    display: block;
}
#message-input {
    resize: none;
}

.messageStatus {
    text-align: center;
}
.submit-btn {
    display: block;
    margin-top: 1.5rem;
    width: fit-content;
    color: var(--accent-green);
    background-color: var(--main-bg);
    border: 0.1rem solid var(--accent-green);
    border-radius: 25px;
    padding: 0.6em 2.5em;
    transition: 0.3s;
    position: relative;
}
.submit-btn:hover {
    box-shadow: 0.3rem 0.5rem 0.2rem var(--darker);
    font-size: 0.9rem;
    
}
.submit-btn:active {
    color: var(--grey);
}
.submit-btn::after {
    content: "";
    background-image: url(../img/arrow-right-light.svg);
    display: inline-block;
    position: absolute;
    right: 0.9rem;
    top: 0.65rem;
    width: 1em;
    height: 1em;
    transform: scale(0, 1);
    transition: 300ms ease-out;
}
.submit-btn:hover::after {
    transform: scale(1, 1);
}
footer .socials {
    font-size: 2rem;
    text-align: center;
    color: var(--grey);
    margin: 1em auto;;
}
footer a {
    margin: 1rem;
}