:root {
    --darker: #031229;
    --main-bg: #0A1E39;
    --accent-green: #49FFCD;
    --grey: #939EBF;
    --off-white: #ccd6f6;
}


html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: var(--main-bg);
    color: var(--off-white);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article {
    margin: 10em 5.5em;
}

section {
    margin: 10em 5.5em;
}

h1 {
    color: var(--off-white);
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    color: var(--off-white);
    font-size: 2rem;
    font-weight: 600;
}
.section-title {
    margin-bottom: 0;
}
h3 {
    color: var(--off-white);
    font-size: 1.3rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: var(--off-white);
    font-weight: 400;
}

hr {
    margin-top: 0;
    border-color: var(--accent-green);
}

i {
    padding: 0;
}

header {
    margin: 0 1.5em 5em 1.5em;
}

.accent-text {
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono", monospace;
    /* font-family: 'Courier New', Courier, monospace; */
    color: var(--accent-green);
    font-weight: 300;
}




/* NAVIGATION DESKTOP */
#socials {
    display: inline;
    position: absolute;
    right: 1.5em;
}

#socials i {
    color: var(--off-white);
    font-size: 2rem;
    margin: 0 0.5rem;
}
#socials i:hover {
    color: var(--accent-green);
}

.nav-left {
    display: inline;
}
.nav-left i {
    font-size: 1.5rem;
}
nav {
    display: flex;
    align-items: center;
    /* padding-left: 1.5em; */
    height: 6em;
    background-color: var(--main-bg);
}
nav i {
    color: var(--accent-green);
    display: inline;
}
nav ul {
    margin: 0 2em;
    padding: 5px 0;
    display: inline;
    list-style: none;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

}
nav ul li {
    display: inline;
    margin: 0 1rem 0 1rem;
}
nav a, nav a:visited {
    text-decoration: none;
    color: var(--off-white);
}

nav a:hover {
    color: var(--accent-green);
}

/* END NAV */


/* Introduction */
.introduction {
    margin: 4em 4em 10em 4em;
}

.introduction h1 {
    margin: 0.5rem 0;
}

.heading {
    margin: 2em 0;
}

.whoiam {
    color: var(--grey);
}

/* CTA */
.cta {
    width: fit-content;
    margin-left: 5.5em;
}
.cta a {
    color: var(--accent-green);
    text-decoration: none;
    border: 0.1rem solid var(--accent-green);
    border-radius: 25px;
    padding: 0.6em 2.5em;
}

#about-content-container {
    display: flex;
    flex-direction: row;
    column-gap: 5em;
}

#technologies i{
    font-size: 5rem;
}
.tech-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    text-align: center;
    justify-content: space-between;
}

.tech-item {
    width: 5em;
}