/* Technologies media query */
@media (max-width: 53em) {
    #about-content-container {
        flex-direction: column;
    }
}

/* Projects media query */
@media (max-width: 50em) {
    .project-container {
        display: flex;
        flex-direction: column;
    }
    .project-container .content-container {
        min-width: unset;
    }
    /* .img-container {
        transform: rotate(8deg);
    }
    .project-container:nth-child(even) .img-container {
        transform: rotate(-8deg);
    } */
}

/* Nav media query */
@media (max-width: 38em) {
    h1 {
        font-size: 2.5rem;
    }
    .mobile-nav-btn {
        display: block;
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
    }
    .nav-btn-flipped {
        transform: rotate(180deg);
    }
    nav {
        flex-direction: column;
        height: auto;
        padding: 0;
        box-shadow: 0px 0.2rem 0.2rem var(--darker);
    }
    nav ul {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        margin: 1em 0;
    }
    .nav-left {
        width: 100%;
    }
    .nav-left i {
        display: none;
    }
    #socials{
        position: static;
        display: block;
        padding: 1em 0;
        width: 100%;
        text-align: center;
        border-bottom: 0.1em solid var(--accent-green);
    }
    #socials a {
        margin: 0 1em;
    }
    .nav-hidden {
        top: 0;
    }
    .nav-mobile-hide {
        top: -17.2em;
    }
    article, header, section, .introduction{
        margin: 10em 1em;
    }
    .cta {
        margin-left: 1.5em;
    }
    .tech-item-container{
        justify-items: center;
        column-gap: 0;
    }
    #technologies i {
        font-size: 4rem;
    }
    .special {
        padding-top: 0;
    }
    .special p {
        margin-top: 0.3rem;
    }
    .tech-item p {
        font-size: 0.8rem;
    }
    .tech-item img {
        transform: scale(0.8);
    }
}